<div class='wrapper col m4 s12 card small center carousel-item' id='portfolioCard'>
    <img id='portfolioImage'class='activator responsive-img' src={{ screenshot }}>
        <div class='card-content portfolioCtnt'>
            <div class='card-title activator white-text text-darken-4'>
                {{ name }}
                <i class='material-icons right'>more_vert</i>
            </div>
        </div>
        <div class='card-reveal'>
            <div class='card-title grey-text text-darken-4'>
                {{ name }}
                <i class='material-icons right'>close</i>
            </div>
            <h6>Description:</h6>
            <p>{{ dscr }}</p>
        <a href={{ url }} target='_blank'>Link to Project</a>
    </div>
</div>