<div class='wrapper col m4 s12 card small center carousel-item' id='portfolioCard'>
    <img id='portfolioImage'class='activator responsive-img' src={{ screenshot }} alt="portfolio item">
        <div class='card-content portfolioCtnt'>
            <div class='card-title activator white-text text-darken-4'>
                {{ name }}
                <i class='material-icons right'>more_vert</i>
            </div>
        </div>
        <div class='card-reveal'>
            <div class='card-title grey-text text-darken-4'>
                {{ name }}
                <i class='material-icons right'>close</i>
            </div>
            <h6 class="black-text">Description: </h6>
            <p>{{ dscr }}</p>
            <h6 class="black-text">Technologies Used: </h6>
            <p>{{ tech }}</p>
        <a href={{ urlD }} target='_blank' rel="noreferrer">Deployed Project</a>
        <br/>
        <a href={{ urlG }} target='_blank' rel="noreferrer">Github</a>
    </div>
</div>